<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
       
          <p>Rui Xie<br/>
            Department of Statistics<br/>
            University of Georgia<br/>
            310 Herty Drive, Athens, GA 30602<br/>
    
      </div>
      
      <div class="footer-col footer-col-2">
        
       
        Email: <a href="mailto: ruixie@uga.edu">ruixie@uga.edu</a><br/>
        GitHub: <a href="https://github.com/ruixie7">ruixie7</a><br/>
        
        
      </div>
      
      <div class="footer-col footer-col-3">
        
        <a href="/files/Rui_Xie_CV.pdf">Curriculum Vitae</a><br/>
        <a href="https://scholar.google.com/citations?user=dYTCyDoAAAAJ&hl=en">Google Scholar</a><br/>
        <a href="https://orcid.org/0000-0001-9769-8131">ORCiD</a><br/>
    
        
      </div>


    </div>

  </div>

</footer>
<!-- end custom footer snippets -->
