---
layout: archive
title: "Research -- Under Construction"
Developing theoretically justifiable and practically scalable methods for large \textbf{dependent data} is the primary motivation for my research. My research focuses on developing a series of \textbf{sampling methods} for temporal or spatial dependent data in the streaming data setting and the decentralized data acquisition environment. For statistical methodology, the techniques of \textit{sequential analysis}, \textit{online learning} and \textit{decentralized optimization} have been integrated into my proposed sampling methods.
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

